.carousel-inner img{

	max-height: 1000px;
	width: auto;
}

.footer {
  padding: 10px 0;
}
.footer a {
  color: #70726F;
  font-size: 50px;
  padding: 10px;
  transition: all .5s ease;
}

}
.footer a:hover {
  color: white;
}